
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;1,300&display=swap');

.hidden {
  display: none;
}

.h1font {
  font-family: 'Roboto Mono';
}

.h2font {
  font-family: 'Roboto Mono';
  font-weight: 500;
  font-size: large;
}

.h4font {
  font-size: large;
  font-style: oblique;
  
}

.largefont {
  font-family: 'Roboto Mono';
  font-size: 100px;
}

#pdiv {
  margin: 20px;
  padding: 5px;
  border: 3px;
  display: block;
  font-style: italic;
  font-family: 'Roboto Mono';
}

#backgroundimage {
  background-image: url('../img/pinkclouds.jpg');
  background-size: cover;
  
 
}

#headerdiv {
  background-color: rgba(166, 182, 241, 0.8);
  background-size: auto; 
}